.main-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.carousel-container-top{
    height: 400px;
    width: 500px;
    margin: 0 auto;
}

.carousel-container-bottom{
    height: 400px;
    width: 600px;
    margin: 0 auto;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }