@font-face {
    font-family: flappy-bird;
    src: url("../font/Flappy-Bird.ttf");
}
body{
    background-color: #ebebeb;
    font-family: flappy-bird;
}
*{
    margin: 0;
    padding: 0;
}
canvas{
    position: absolute;
    left: calc(50% - 160px);
    border: 3px solid #212121;
}